<!DOCTYPE html>
<html>
	<head>
{% include 'head.html' %}
	</head>
	<body>
		<h1>
			{% block title %}
		</h1>
		<h2>
			{% news 1 %}
		</h2>
		<h2>
			{% news 2 %}
		</h2>
		<p>
			{% block description %}
		</p>
	</body>	
</html>
